*{
    text-align: center;
    background-color: pink;
}
#Esme{
    background-color: aqua;
}
#Vicky{
    background-color: blueviolet;
}
#Fenix{
    background-color: brown;
}
#Florchi{
    background-color: yellow;
}

#Scrooge{
    background-color: coral;
}

#Todas{
    background-color: chartreuse;

}
#Todos{
    background-color: darkgrey;
}
